        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>Vasiliy Karasev</h1>
              <p>
              I am a staff software engineer at <a href="http://waymo.com">Waymo</a> where I work on perception for autonomous driving.
              <p>
              <!-- I am a staff software engineer at <a href="http://zoox.com/">Zoox</a> where I work on computer vision for autonomous driving. -->
              Previously, I spent several years doing computer vision at <a href="http://zoox.com">Zoox</a>.
              I did my PhD at UCLA, and was advised by <a href="http://vision.ucla.edu/">Prof. Stefano Soatto</a>.
              My work revolved around ''value of information'' / decision making problems, optimization, and their applications in computer vision.
              <br>
              <br>
              During my studies I had the opportunity to visit <a href="http://honda-ri.com/">Honda Research Institute</a> and <a href="https://www.samsungdisplay.com/">Samsung Display</a>.
              I received my bachelors from <a href="https://eecs.berkeley.edu/">UC Berkeley</a>.
              <!-- worked with <a href="http://ee.ucla.edu/~jhlgroup">Prof. Jin Hyung Lee</a> (UCLA EE; optogenetics and compressed sensing for fMRI),  <a href="http://www-video.eecs.berkeley.edu/~avz">Prof. Avideh Zakhor</a> (UCB EECS; signal processing), and  <a href="http://vision.berkeley.edu/?p=369">Prof. Martin Banks</a> (UCB Vision Science; properties of human visual system). !-->

              {%include social_buttons.html %}
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="/images/vkc.jpg">
            </td>
          </tr>
        </table>

