<p style="text-align:center">

<a target="_blank" href="mailto:karasev00@gmail.com"><img class="icon" src="/images/email.png" height=20></a> &nbsp;
<a href="https://github.com/vasiliykarasev"><img class="icon" src="/images/github.png" height=20></a> &nbsp;
<a href="https://scholar.google.com/citations?user=mukR7ccAAAAJ&hl=en&oi=ao"><img class="icon" src="/images/scholar.png" height=20></a> &nbsp;
<a href="https://www.linkedin.com/in/vasiliy-karasev-a475101b1/"><img class="icon" src="/images/linkedin.png" height=20></a>
<a href="https://stackoverflow.com/users/10230053/"><img class="icon" src="/images/so.png" height=20></a>


</p>

