<!DOCTYPE HTML>
<html lang="en">

<head>
{% include head.html %}
{% include ga.html %}

<title>Intent-Aware Long-Term Prediction of Pedestrian Motion</title>
<meta property="og:title" content="Intent-Aware Long-Term Prediction of Pedestrian Motion" />
<meta property="og:locale" content="en_US" />
</head>
<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">


<h1>Intent-Aware Long-Term Prediction of Pedestrian Motion</h1>

<h2>Abstract</h2>
<p>
We present a method to predict long-term motion of pedestrians, modeling their behavior as jump-Markov processes with their goal a hidden variable.
Assuming approximately rational behavior, and incorporating environmental constraints and biases, including time-varying ones imposed by traffic lights, we model intent as a policy in a Markov decision process framework.
We infer pedestrian state using a Rao-Blackwellized filter, and intent by planning according to a stochastic policy, reflecting individual preferences in aiming at the same goal.
</p>

<h2>Overview</h2>

<iframe src="https://player.vimeo.com/video/157014891?muted=1" width="800" height="500" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p>

<p>If you use this work in your research, please cite our paper:</p>

<ul>
<li>V. Karasev, A. Ayvaci, B. Heisele, and S. Soatto<br>
<a href="http://bheisele.com/karasevAHS16.pdf">Intent-Aware Long-Term Prediction of Pedestrian Motion</a><br>
In ICRA, 2016.
<pre class="bibtex"><small>@inproceedings{karasevAHS16,
author = {Karasev, V. and Ayvaci, A. and Heisele, B. and Soatto, S.},
title = {Intent-Aware Long-Term Prediction of Pedestrian Motion},
booktitle = {ICRA},
year = {2016},
month = {May}</small>
</pre>
</li>
</ul>


</table>
</body>
</html>
